.main {
	/*margin:5px 5px 5px 200px;*/
	margin-top:60px;
}
.full {
	height:100%;
}



.myTaskStatus{
	height: 555px;

}
#task2 {
	height:490px;
	padding-right: 5px;
	overflow:auto;
}

#taskList2 {
 	height: 430px;
 	padding-right: 5px;
    margin-bottom: 0;
    overflow: auto;
}
.myTaskChar{
	/*background-color: pink;*/
	height: 200px;
}

.taskOne{
	height: 555px;
}

/*detail menu*/



/* new_changes */

/*.mySideBar {
	position: fixed;
	width: 15%;
	 height:96.6%;
	margin:5px;
	line-height: 50px;


}*/

/*.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
*/
