.allProjects-section{
  position: absolute;
  float: right;
  right: 20px;
}

.table-section{
  background-color: green;
}

.table-section table {
  border: 1px solid black;
}

.box-width{
  width: 1130px;
}

.titlebar{
  height: 40px;
  margin-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.titlebar input{
  display: inline-block;
}


/* common style */
.positionRel {
  position:relative;
}
.marginAuto {
  margin:0 auto;
}
/* common style */

.loginPage {
  width:500px;
  height:380px;
  top:100px;
}
.usernameLoginInput {
  width:450px;
  top:60px;
}
.passwordLoginInput {
  width:450px;
  top:90px;
}
.loginButtons {
  left:25px;
  top:100px;
}
.loginFooter {
  top:187px;
}
 /*NUNU*/


 .textProjectInfo {
  width:700px;
}
.addNewProjectButton {
  float:right;
  margin-right:20px;
}
.descriptionSize{
  position:relative;
  top:150px;
}
