.main {
	/*margin:5px 5px 5px 200px;*/
	margin-top:5px;
	margin-right:5px;
	margin-bottom:5px;
}
.myMargin {
	margin-top:5px;

}
.panel-height {
	    height: 55px;
}
.face {
		font-size: 35px;
}

/*top menu*/
.topMenu {
	/*background-color: #BDBDBD;*/
	/*height: 50px;*/
}

.logo {
	/*background-color: green;*/
	/*height: 50px;*/
}

.userMenu {
	/*background-color: lime;*/
	/*height: 40px;*/
}
/*top menu*/

/*welcome menu*/
.welcomeTxt {
	/*background-color: #D4D4D4;*/
	/*height: 50px;*/
}

.userPhoto {
	/*background-color: pink;*/
	/*height: 40px;*/
}

.privelige {
	/*background-color: pink;*/
	/*height: 40px;*/
}
/*welcome menu*/

/*welcome menu*/
.review {
	/*background-color: yellow;*/
	height: 115px;
}
.rewIco {
	font-size: 35px;
}

.thumb {
	background-color: #B0CCFF;
	/*height: 90px;*/
}
/*welcome menu*/

/*detail menu*/

.detailed {
	/*background-color: green;*/
	/*height: 600px;*/
}
.detail{
	/*background-color: blue;*/
	/*height: 600px;*/
}

.myTaskStatus{
	/*background-color: lime;*/
	height: 555px;

}
#task2 {
	height:490px;
	overflow:auto;
}

#taskList2 {
 	height: 430px;
    margin-bottom: 0;
    overflow: auto;
}
.myTaskChar{
	/*background-color: pink;*/
	height: 200px;
}

.taskOne{
	/*background-color: pink;*/
	height: 555px;
}

/*detail menu*/



/* new_changes */

.mySideBar {
	position: fixed;
	width: 15%;
/*	 height:96.6%;*/
	margin:5px;
	/*line-height: 50px;*/


}
.boxWidth {
	width:100%;
}